@page "/learn"
@rendermode InteractiveAuto

<div class="learn-ctnr">
    <div class="side-nav">
        <div class="topic">
            <div class="title" @onclick="@(() => ToggleSubset(0))">Hadee</div>
            <div class="subset" style="@($"display: {(IsSubsetVisible[0] ? "flex" : "none")}")">
                <div class="sub-item">Subitem Subitem Subitem Subitem Subitem Subitem Subitem</div>
                <div class="sub-item">Subitem</div>
            </div>
        </div>
        <div class="topic">
            <div class="title" @onclick="@(() => ToggleSubset(1))">Read</div>
            <div class="subset" style="@($"display: {(IsSubsetVisible[1] ? "flex" : "none")}")">
                <div class="sub-item">Subitem</div>
                <div class="sub-item">Subitem</div>
            </div>
        </div>
        <div class="topic">
            <div class="title" @onclick="@(() => ToggleSubset(1))">Deed</div>
            <div class="subset" style="@($"display: {(IsSubsetVisible[1] ? "flex" : "none")}")">
                <div class="sub-item">Subitem</div>
                <div class="sub-item">Subitem</div>
            </div>
        </div>
        <div class="topic">
            <div class="title" @onclick="@(() => ToggleSubset(1))">Section</div>
            <div class="subset" style="@($"display: {(IsSubsetVisible[1] ? "flex" : "none")}")">
                <div class="sub-item">Subitem</div>
                <div class="sub-item">Subitem</div>
            </div>
        </div>
        <div class="topic">
            <div class="title" @onclick="@(() => ToggleSubset(1))">Tutorials</div>
            <div class="subset" style="@($"display: {(IsSubsetVisible[1] ? "flex" : "none")}")">
                <div class="sub-item">Subitem</div>
                <div class="sub-item">Subitem</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="title">Title</div>
        <div class="subtitle">Subtitle</div>
    </div>
</div>

@code {
    private bool[] IsSubsetVisible = new bool[2];

    private void ToggleSubset(int index) {
        IsSubsetVisible[index] = !IsSubsetVisible[index];
    }
}
