@page "/learn"
@inject ILearnPageService LearnPageService
@inject ILearnTopicService LearnTopicService
@attribute [StreamRendering(true)]
@rendermode InteractiveServer

<div class="learn-ctnr">
    <div class="side-nav">
        @if (learnTopics == null) {
            <p>Loading...</p>
        } else if (learnTopics.Count == 0) {
            <p>No Pages Found.</p>
        } else {
            <ul>
                @foreach (var topic in learnTopics) {
                    <div class="topic" @key="topic.Id">
                        <div class="title" @onclick="@(() => ToggleSubset(topic.Id))">@topic.Title</div>
                        <div class="subset" style="@GetSubsetStyle(topicVisible[topic.Id])">
                            <div class="sub-item" @onclick="@(() => SelectPage(topic.HomePage))">@pageLookup[topic.HomePage]?.Title</div>
                            @if (topicPages.ContainsKey(topic.Id)) {
                                @foreach (var subitem in topicPages[topic.Id]) {
                                    <div class="sub-item" @key="subitem.Id" @onclick="@(() => SelectPage(subitem.Id))">@subitem.Title</div>
                                }
                            }
                        </div>
                    </div>
                }
            </ul>
        }
    </div>
    <div class="content">
        @if (selectedPage == null) {
            <p>Home</p>
        } else {
            <div class="title">@selectedPage.Title</div>
            <div class="subtitle">@selectedPage.Content</div>
        }
    </div>
</div>

@code {
    private LearnPage? selectedPage = null;

    private List<LearnPage>? learnPages = null;
    private List<LearnTopic>? learnTopics = null;
    private Dictionary<int, bool> topicVisible = new Dictionary<int, bool>();
    private Dictionary<int, List<LearnPage>> topicPages = new Dictionary<int, List<LearnPage>>();
    private Dictionary<int, LearnPage> pageLookup = new Dictionary<int, LearnPage>();

    protected override async Task OnInitializedAsync() {
        learnPages = await LearnPageService.GetAllPages();
        learnTopics = await LearnTopicService.GetAllTopics();

        foreach (var page in learnPages) {
            pageLookup[page.Id] = page;
        }

        foreach (var topic in learnTopics) {
            topicVisible[topic.Id] = false;
            if (topic.Pages != null) {
                var subTopicIds = topic.Pages.Split(", ").Select(int.Parse).ToList();
                topicPages[topic.Id] = subTopicIds.Select(id => pageLookup[id]).ToList();
            }
        }
    }

    private void ToggleSubset(int id) {
        topicVisible[id] = !topicVisible[id];
    }

    private void SelectPage(int id) {
        selectedPage = pageLookup.GetValueOrDefault(id);
    }

    private string GetSubsetStyle(bool isVisible) {
        return isVisible ? "display: flex;" : "display: none;";
    }
}
